body {
  margin: 0;
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Verdana', sans-serif;
}

.allContent {
  min-height: 100vh;
}

.primaryFont {
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Verdana', sans-serif;
  /* font-family: 'EB Garamond', serif; */
  color: white;
}

.primaryBackground {
  background: linear-gradient(
    45deg,
    rgb(105, 30, 32,1),
    rgb(105, 30, 32,0.9) 25%,
    rgb(105, 30, 32,1) 50%,
    rgb(105, 30, 32,0.9) 75%,
    rgb(105, 30, 32,1) 100%);
}

.mainMenuBar {
  padding: 3vh 3vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.7rem;
  height: 8vh;
}

.logo {
  /* background-image: url("https://img1.wsimg.com/isteam/ip/0bbcb4f1-cfde-4106-8098-6e6639240357/SHJC_Color1website.jpg/:/rs=w:455,h:282,cg:true,m/cr=w:455,h:282/qt=q:95"); */
  background-image: url("/images/sacred_heart_logo.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 8vh;
  height: 8vh;
}

.menuBox {
  display: flex;
}

.mainMenuBttn {
  padding: 1vh 1vh 0 1vh;
  width: 7vh;
  height: 6vh;
}

.mainMenuBttn div {
  margin-bottom: 1vh;
  border-radius: 10px;
  background-color: gold;
  height: 1vh;
}

.mainMenuTable {
  padding: 5px 0;
  position: absolute;
  z-index: 3; /* For video */
  left: -100%;
  background-color: rgb(79, 30, 32);
  width: 100%;
}

.mainMenuTable div {
  padding: 7px 5vh;
  color: gold;
  font-size: 1.3rem;
}

.mainMenuTable div a {
  color: inherit;
}

.mainMenuTable div:hover {
  background-color: gold;
}

.mainMenuTable div:hover {
  color: rgb(105, 30, 32) !important;
}

.loginBttn {
  border-top: 1px solid gold;
}

footer {
  padding: 30px 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  min-height: 100px;
}
