.section {
  padding: 5vh 10%;
  font-size: 1.5rem;
  min-height: 90vh;
}

.introSection {
  height: 87vh;
}

.introTitle {
  padding: 20vh 5vw 0 5vw;
  font-size: 5rem;
}

.introSubtitle {
  padding: 15vh 15vw 0 15vw;
  font-size: 2.6rem;
}

.searchTool {
  padding: 0 5%;
  width: 40%;
}

.resultList {
  display: grid;
  grid-template-columns: 48% 48%;
  column-gap: 4%;
}

.resultRow {

}

/* CEMETERY.INDIVIDUAL */
.indivMain {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
    "back back"
    "name name"
    "photo info";
}

.backBttn {
  grid-area: back;
}

.fullName {
  grid-area: name;
}

.photoBox {
  grid-area: photo;
}

.basicInfoBox {
  grid-area: info;
}
