.section {
  border-top: none;
  padding: 5vh 10%;
  font-size: 1.5rem;
  min-height: 90vh;
}

.introSection {
  height: 87vh;
}

.introTitle {
  padding: 20vh 5vw 0 5vw;
  font-size: 5rem;
}

.introSubtitle {
  padding: 15vh 15vw 0 15vw;
  font-size: 2.6rem;
}

.searchSection {
  padding: 0 0 5vh 0;
  background-image:
    linear-gradient(to right,
      rgb(105, 30, 32,1) 0%,
      rgb(105, 30, 32,1) 40%,
      rgb(0, 0, 0, 0.2) 100%),
    url("https://resources.stuff.co.nz/content/dam/images/1/w/k/y/t/r/image.related.StuffLandscapeSixteenByNine.710x400.1wg8tg.png/1566945678541.jpg?format=pjpg&optimize=medium");
  min-height: 95vh;
}

.searchTop {
  /* border-top: 1px solid gold; */
  border-bottom: 1px solid gold;
  padding-top: 5vh;
  padding-left: 10%;
  padding-right: 10%;
  background-color: rgb(105, 30, 32);
  height: 25%;
}

.searchTitle {
  /* border-bottom: 1px solid gold; */
}

.listTools {
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-columns: 40% 60%;
  margin-top: 15vh;
  height: 55vh;
}

.all_grids {
  display: block;
  position: relative;
  /* height: 55vh; */
}

.zoneGridLayout {
  padding: 0 2%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 33% 34% 33%;
  grid-template-areas:
    "one two"
    "three three"
    "four five";
  position: absolute;
  top: 0;
  height: 100%;
  width: 96%;
}

.deceased_animation {
  animation-duration: 60s;
  animation-iteration-count: infinite;
  text-align: center;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.deceased_animation span {
  /* background-color: transparent; */
}

.zone_1 {
  grid-area: one;
  /* background-color: red; */
}

.zone_2 {
  grid-area: two;
  /* background-color: blue; */
}

.zone_3 {
  grid-area: three;
  /* background-color: yellow; */
}

.zone_4 {
  grid-area: four;
  /* background-color: green; */
}

.zone_5 {
  grid-area: five;
  /* background-color: orange; */
}

@keyframes name_0 {
  0% {
    border-radius: 20px;
    color: rgba(255,255,255,0);
    font-size: 1.5rem;
  }
  1% {
    color: rgba(255,255,255,1);
  }
  5% {
    color: rgba(255,255,255,1);
    font-size: 1.8rem;
  }
  6% {
    color: rgba(255,255,255,0);
  }
  100% {
    color: rgba(255,255,255,0);
  }
}

@keyframes name_1 {
  0% {
    color: rgba(255,255,255,0);
  }
  4% {
    color: rgba(255,255,255,0);
    font-size: 1.5rem;
  }
  5% {
    color: rgba(255,255,255,1);
  }
  10% {
    color: rgba(255,255,255,1);
    font-size: 1.8rem;
  }
  11% {
    color: rgba(255,255,255,0);
  }
  100% {
    color: rgba(255,255,255,0);
  }
}

@keyframes name_2 {
  0% {
    color: rgba(255,255,255,0);
  }
  9% {
    color: rgba(255,255,255,0);
    font-size: 1.5rem;
  }
  10% {
    color: rgba(255,255,255,1);
  }
  15% {
    color: rgba(255,255,255,1);
    font-size: 1.8rem;
  }
  16% {
    color: rgba(255,255,255,0);
  }
  100% {
    color: rgba(255,255,255,0);
  }
}

@keyframes name_3 {
  0% {
    color: rgba(255,255,255,0);
  }
  14% {
    color: rgba(255,255,255,0);
    font-size: 1.5rem;
  }
  15% {
    color: rgba(255,255,255,1);
  }
  20% {
    color: rgba(255,255,255,1);
    font-size: 1.8rem;
  }
  21% {
    color: rgba(255,255,255,0);
  }
  100% {
    color: rgba(255,255,255,0);
  }
}

@keyframes name_4 {
  0% {
    color: rgba(255,255,255,0);
  }
  19% {
    color: rgba(255,255,255,0);
    font-size: 1.5rem;
  }
  20% {
    color: rgba(255,255,255,1);
  }
  25% {
    color: rgba(255,255,255,1);
    font-size: 1.8rem;
  }
  26% {
    color: rgba(255,255,255,0);
  }
  100% {
    color: rgba(255,255,255,0);
  }
}

@keyframes name_5 {
  0% {
    color: rgba(255,255,255,0);
  }
  24% {
    color: rgba(255,255,255,0);
    font-size: 1.5rem;
  }
  25% {
    color: rgba(255,255,255,1);
  }
  30% {
    color: rgba(255,255,255,1);
    font-size: 1.8rem;
  }
  31% {
    color: rgba(255,255,255,0);
  }
  100% {
    color: rgba(255,255,255,0);
  }
}

@keyframes name_6 {
  0% {
    color: rgba(255,255,255,0);
  }
  29% {
    color: rgba(255,255,255,0);
    font-size: 1.5rem;
  }
  30% {
    color: rgba(255,255,255,1);
  }
  35% {
    color: rgba(255,255,255,1);
    font-size: 1.8rem;
  }
  36% {
    color: rgba(255,255,255,0);
  }
  100% {
    color: rgba(255,255,255,0);
  }
}

@keyframes name_7 {
  0% {
    color: rgba(255,255,255,0);
  }
  34% {
    color: rgba(255,255,255,0);
    font-size: 1.5rem;
  }
  35% {
    color: rgba(255,255,255,1);
  }
  40% {
    color: rgba(255,255,255,1);
    font-size: 1.8rem;
  }
  41% {
    color: rgba(255,255,255,0);
  }
  100% {
    color: rgba(255,255,255,0);
  }
}

@keyframes name_8 {
  0% {
    color: rgba(255,255,255,0);
  }
  39% {
    color: rgba(255,255,255,0);
    font-size: 1.5rem;
  }
  40% {
    color: rgba(255,255,255,1);
  }
  45% {
    color: rgba(255,255,255,1);
    font-size: 1.8rem;
  }
  46% {
    color: rgba(255,255,255,0);
  }
  100% {
    color: rgba(255,255,255,0);
  }
}

@keyframes name_9 {
  0% {
    color: rgba(255,255,255,0);
  }
  44% {
    color: rgba(255,255,255,0);
    font-size: 1.5rem;
  }
  45% {
    color: rgba(255,255,255,1);
  }
  50% {
    color: rgba(255,255,255,1);
    font-size: 1.8rem;
  }
  51% {
    color: rgba(255,255,255,0);
  }
  100% {
    color: rgba(255,255,255,0);
  }
}

@keyframes name_10 {
  0% {
    color: rgba(255,255,255,0);
  }
  49% {
    color: rgba(255,255,255,0);
    font-size: 1.5rem;
  }
  50% {
    color: rgba(255,255,255,1);
  }
  55% {
    color: rgba(255,255,255,1);
    font-size: 1.8rem;
  }
  56% {
    color: rgba(255,255,255,0);
  }
  100% {
    color: rgba(255,255,255,0);
  }
}

@keyframes name_11 {
  0% {
    color: rgba(255,255,255,0);
  }
  54% {
    color: rgba(255,255,255,0);
    font-size: 1.5rem;
  }
  55% {
    color: rgba(255,255,255,1);
  }
  60% {
    color: rgba(255,255,255,1);
    font-size: 1.8rem;
  }
  61% {
    color: rgba(255,255,255,0);
  }
  100% {
    color: rgba(255,255,255,0);
  }
}

@keyframes name_12 {
  0% {
    color: rgba(255,255,255,0);
  }
  59% {
    color: rgba(255,255,255,0);
    font-size: 1.5rem;
  }
  60% {
    color: rgba(255,255,255,1);
  }
  65% {
    color: rgba(255,255,255,1);
    font-size: 1.8rem;
  }
  66% {
    color: rgba(255,255,255,0);
  }
  100% {
    color: rgba(255,255,255,0);
  }
}

@keyframes name_13 {
  0% {
    color: rgba(255,255,255,0);
  }
  64% {
    color: rgba(255,255,255,0);
    font-size: 1.5rem;
  }
  65% {
    color: rgba(255,255,255,1);
  }
  70% {
    color: rgba(255,255,255,1);
    font-size: 1.8rem;
  }
  71% {
    color: rgba(255,255,255,0);
  }
  100% {
    color: rgba(255,255,255,0);
  }
}

@keyframes name_14 {
  0% {
    color: rgba(255,255,255,0);
  }
  69% {
    color: rgba(255,255,255,0);
    font-size: 1.5rem;
  }
  70% {
    color: rgba(255,255,255,1);
  }
  75% {
    color: rgba(255,255,255,1);
    font-size: 1.8rem;
  }
  76% {
    color: rgba(255,255,255,0);
  }
  100% {
    color: rgba(255,255,255,0);
  }
}

@keyframes name_15 {
  0% {
    color: rgba(255,255,255,0);
  }
  74% {
    color: rgba(255,255,255,0);
    font-size: 1.5rem;
  }
  75% {
    color: rgba(255,255,255,1);
  }
  80% {
    color: rgba(255,255,255,1);
    font-size: 1.8rem;
  }
  81% {
    color: rgba(255,255,255,0);
  }
  100% {
    color: rgba(255,255,255,0);
  }
}

@keyframes name_16 {
  0% {
    color: rgba(255,255,255,0);
  }
  79% {
    color: rgba(255,255,255,0);
    font-size: 1.5rem;
  }
  80% {
    color: rgba(255,255,255,1);
  }
  85% {
    color: rgba(255,255,255,1);
    font-size: 1.8rem;
  }
  86% {
    color: rgba(255,255,255,0);
  }
  100% {
    color: rgba(255,255,255,0);
  }
}

@keyframes name_17 {
  0% {
    color: rgba(255,255,255,0);
  }
  84% {
    color: rgba(255,255,255,0);
    font-size: 1.5rem;
  }
  85% {
    color: rgba(255,255,255,1);
  }
  90% {
    color: rgba(255,255,255,1);
    font-size: 1.8rem;
  }
  91% {
    color: rgba(255,255,255,0);
  }
  100% {
    color: rgba(255,255,255,0);
  }
}

@keyframes name_18 {
  0% {
    color: rgba(255,255,255,0);
  }
  89% {
    color: rgba(255,255,255,0);
    font-size: 1.5rem;
  }
  90% {
    color: rgba(255,255,255,1);
  }
  95% {
    color: rgba(255,255,255,1);
    font-size: 1.8rem;
  }
  96% {
    color: rgba(255,255,255,0);
  }
  100% {
    color: rgba(255,255,255,0);
  }
}

@keyframes name_19 {
  0% {
    color: rgba(255,255,255,0);
  }
  94% {
    color: rgba(255,255,255,0);
    font-size: 1.5rem;
  }
  95% {
    color: rgba(255,255,255,1);
  }
  99% {
    color: rgba(255,255,255,1);
    font-size: 1.8rem;
  }
  100% {
    color: rgba(255,255,255,0);
  }
}

.basicInfoSection {
  font-size: 1.2rem;
}

.basicInfoSection p u {
  font-size: 1.5rem;
}

.riteSubtitleChild {
  display: inline;
}

.riteImage {
  width: 20%
}

.riteImageOne {
  margin-left: 20px;
  float: right;
}

.riteImageTwo {
  margin-left: 20px;
  float: left;
}

.riteImageThree {
  margin-left: 20px;
  float: right;
}

.emptyPlotCount {
  margin-right: 6%;
  width: 40%;
  float: left;
}

.contactGrid {
  display: grid;
  grid-template-columns: 48% 48%;
  justify-content: space-between;
}

/* CEMETERY.LIST */
.searchTool {
  padding: 0 5%;
  width: 40%;
}

.resultList {
  display: grid;
  grid-template-columns: 48% 48%;
  column-gap: 4%;
}

.resultRow {

}

/* CEMETERY.INDIVIDUAL */
.indivMain {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
    "back back"
    "name name"
    "photo info";
}

.backBttn {
  grid-area: back;
}

.fullName {
  grid-area: name;
}

.photoBox {
  grid-area: photo;
}

.basicInfoBox {
  grid-area: info;
}

.basicInfoList {
  display: grid;
  grid-template-columns: repeat(2, 45%);
  justify-content: space-between;
}

.basicInfoList p {

}
