/* CEMETERY.INDEX */
.section {
  border-top: 5px solid gold;
  padding: 5vh 10%;
  font-size: 1.5rem;
  min-height: 90vh;
}

.sectionTitle {
  font-size: 2.5rem;
  text-align: center;
  text-decoration: underline;
}

.sectionBackground {
  background-size: cover;
  background-position: center;
}

.introSection {
  background-image:
    linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),
    url('https://www.nps.gov/frsp/learn/historyculture/images/20200916_ChalresSprout_NationalCemetery_mo_003.jpg?maxwidth=1200&autorotate=false&quality=78&format=webp');
  height: 87vh;
}

.introTitle {
  padding: 15vh 5vw 0 5vw;
  font-size: 2.5rem;
  color: white;
  text-align: center;
}

.introSubtitle {
  padding: 15vh 15vw 0 15vw;
  font-size: 1.5rem;
  color: white;
  text-align: center;
}

.searchSection {
  background-image:
    linear-gradient(
      rgb(105, 30, 32,0.7),
      rgb(105, 30, 32,0.7)),
    url("https://resources.stuff.co.nz/content/dam/images/1/w/k/y/t/r/image.related.StuffLandscapeSixteenByNine.710x400.1wg8tg.png/1566945678541.jpg?format=pjpg&optimize=medium");
}

.searchSection a {
  text-decoration: none;
}

.searchInfo {
  padding: 10px 3%;
  background-color: rgb(105, 30, 32);
  font-size: 1.2rem;
}

.listTools {
  margin-top: 75px;
}

.browseBttn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  color: rgb(105, 30, 32);
  text-align: center;
  border-radius: 30px;
  background-color: gold;
}

.orDivider {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.searchBox {
  padding: 5px 2% 10px 2%;
  background-color: rgb(105, 30, 32);
}

.searchBox form {
  display: grid;
  grid-template-columns: 75% 25%;
}

.searchBox form div input {
  padding: 1px 6px;
  font-size: 1.1rem;
  height: calc(100% - 6px);
  width: 90%;
}

.searchBox form button {
  font-size: 0.8rem;
  color: rgb(105,30,32);
  background-color: gold;
}

.searchTool {
  background-color: rgb(105, 30, 32);
  padding: 10px 0;
  text-align: center;
}

.searchTool input {
  font-size: 1.3rem;
  width: 90%;
}

.resultBox {
  margin-bottom: 50px;
  padding: 0 5%;
  background-image:
    linear-gradient(
    rgb(105, 30, 32,0.7),
    rgb(105, 30, 32,0.7));
  max-height: 350px;
  overflow-y: scroll;
}

.noResults {
  padding: 5px 0;
  font-style: italic;
}

.resultList {

}

.resultRow {
  border-bottom: 1px solid white;
  padding: 5px 0;
}

.resultRow div:last-child {
  text-align: right;
}

.resultRow:first-child {
  padding-top: 10px;
}

.resultRow:last-child {
  padding-bottom: 10px;
  border-bottom: none;
}

.basicInfoSection {
  background-image: linear-gradient(
      rgb(105, 30, 32,0.7),
      rgb(105, 30, 32,0.7)),
      url('https://images.findagrave.com/photos/2006/150/CEM46517262_114909804654.jpg');
  font-size: 1.2rem;
}

.basicInfoSection u {
  font-size: 1.5rem;
}

.riteSection {
  color: white;
  background-image: linear-gradient(
      rgb(105, 30, 32,0.7),
      rgb(105, 30, 32,0.7)),
      url('https://www.cfcssacramento.org/wp-content/uploads/2021/01/romerofunerl4-474x324.jpg');
}

.riteSection div p {
  /* margin-top: 0; */
  font-size: 1.2rem;
}

/* .riteSubtitleParent {
  margin: 50px 0 30px 0;
} */

.riteSubtitleChild {
  display: block;
  border: 3px solid white;
  padding: 10px;
  font-style: italic;
  text-align: center;
  background-color: rgb(105, 30, 32,1);
}

.riteSubtitleContent {
  margin-bottom: 50px
}

.firstRiteP {
  margin-top: 40px;
}

.riteImage {
  margin-top: 1em;
  /* margin-left: 20px; */
  background-size:cover;
  background-position: center;
  height: 200px;
  width: 100%;
}

.riteImageOne {
  /* float: right; */
  background-image:url('https://www.dignitymemorial.com/dfsmedia/042808e1630c49a48950d5077d6556eb/25142-50068');
}

.riteImageTwo {
  margin-left: 0;
  margin-right: 20px;
  /* float: left; */
  background-image:url('https://c8.alamy.com/comp/BCBM3N/a-priest-waves-a-senser-over-the-casket-at-a-catholic-funeral-mass-BCBM3N.jpg');
}

.riteImageThree {
  /* float: right; */
  background-image:url('https://c8.alamy.com/comp/A5B16P/catholic-funeral-where-priest-is-blessing-the-coffin-before-it-is-A5B16P.jpg');
}

.historySection {
  background-image: linear-gradient(
      rgb(105, 30, 32,0.7),
      rgb(105, 30, 32,0.7)),
      url('https://images.findagrave.com/photos/2006/111/CEM46517262_114576626350.jpg')
}

.emptyPlotsInfoSection {
  background-image: linear-gradient(
      rgb(105, 30, 32,0.7),
      rgb(105, 30, 32,0.7)),
      url('https://images.findagrave.com/photos/2006/150/CEM46517262_114909804654.jpg');
}

.emptyPlotCount {
  margin-bottom: 20px;
  border: 1px solid white;
  padding: 10px 6%;
  font-size: 1.2rem;
  background-image: linear-gradient(rgb(105, 30, 32,1),rgb(105, 30, 32,1));
}

.emptyPlotsInfoSection div p {
  font-size: 1.2rem;
}

.contactSection {
  background-image: linear-gradient(
      rgb(105, 30, 32,0.7),
      rgb(105, 30, 32,0.7)),
      url('https://s3.amazonaws.com/gs-waymarking-images/98f788c9-7e22-4f4e-afc8-2e61bf9bcbdf_l.jpg')
}

.contactForm {
  background-color: rgb(105, 30, 32);
}

/* CEMETERY.LIST */

.listSection {
  height: 87%;
}

nav {
  margin-top: -40px;
  margin-bottom: 40px;
}

.pagination {
  display: flex;
}

.pagination div {
  margin-right: 10px;
}

.pagination div a {
  color: white;
}

/* CEMETERY.INDIVIDUAL */
.indivMain {
  padding-bottom: 50px;
  background-image:
    linear-gradient(
      rgb(105, 30, 32,0.7),
      rgb(105, 30, 32,0.7)),
    url("/images/collage.jpg");
    /* Image from https://live.staticflickr.com/3488/3203117329_c09c237cb7_b.jpg */
  color: white;
  min-height: 90vh;
}

.backBttn {

}

.fullName {
  margin: 0 10% 20px 10%;
  padding-top: 5vh;
  font-size: 3rem;
}

.fullName div:first-child {
  margin-bottom: 20px;
  font-size: 2rem;
}

.photoBox {
  padding: 0 5vw;
}

.photoProfile {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;
  height: 45vh;
}

.photoMenu {
  display: flex;
  justify-content: flex-start;
}

.photoMenu div {
  margin-right: 10px;
  border: 1px solid black;
  background-position: center;
  background-size: cover;
  width: 40px;
  height: 40px;
}

.basicInfoBox {
  margin: 15px 0 0 5%;
  padding: 10px 3%;
  color: black;
  font-size: 1.2rem;
  background-image: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.8));
  width: 84%;
}

.basicElement {

}

.basicElement:first-child {

}

.basicElement div:last-child {
  margin-left: 10%;
  font-size: 1.5rem;
  width: 90%;
}
