/* CEMETERY.INDEX */
.section {
  border-top: 5px solid gold;
  padding: 5vh 10%;
  font-size: 1.5rem;
  min-height: 76vh;
}

.sectionTitle {
  border-bottom: 2px solid gold;
  font-size: 2.5rem;
  text-align: center;
  /* text-decoration: underline; */
}

.sectionBackground {
  background-size: cover;
  background-position: center;
}

.introSection {
  position: absolute; /* For video */
  z-index: 2; /* For video */
  padding-top: 10vh;
  /* background-image:
    linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),
    url('https://www.nps.gov/frsp/learn/historyculture/images/20200916_ChalresSprout_NationalCemetery_mo_003.jpg?maxwidth=1200&autorotate=false&quality=78&format=webp'); */
  height: 80vh;
  max-width: 1500px;
}

.introName {
  margin: 0 10vw;
  border-bottom: 2px solid gold;
  border-radius: 5px 5px 0 0;
  padding: 1vh 10vw;
  color: gold;
  font-size: 1.1rem;
  text-align: center;
  background-color: rgb(105, 30, 32, 0.8);
}

.introTitle {
  margin: 0 10vw;
  padding: 1vh 10vw;
  border-radius: 0 0 5px 5px;
  font-size: 2.5rem;
  color: gold;
  text-align: center;
  background-color: rgb(105, 30, 32, 0.8);
}

.introSubtitle {
  margin: 5vh 14vw 0 14vw;
  padding: 1vh 1vw;
  font-size: 1.5rem;
  color: white;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.4);
}

.videoParent { /* For video */
  overflow: hidden;
  position: absolute;
  height: 86vh;
  width: 100%;
  top: 14vh;
}

.videoParent video { /* For video */
  height: 100%;
  width: 177.77777778vh; /* 100 * 16 / 9 */
  min-width: 100%;
  min-height: 56.25vw; /* 100 * 9 / 16 */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.videoImages {
  display: none;
  height: 100%;
  width: 100%;
}

.singleImage {
  position: absolute;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes blank {
  0% {
    background-color: rgba(255,255,255,1);
  }
  1% {
    background-color: rgba(255,255,255,0);
  }
  24% {
    background-color: rgba(255,255,255,0);
  }
  25% {
    background-color: rgba(255,255,255,1);
  }
  26% {
    background-color: rgba(255,255,255,0);
  }
  49% {
    background-color: rgba(255,255,255,0);
  }
  50% {
    background-color: rgba(255,255,255,1);
  }
  51% {
    background-color: rgba(255,255,255,0);
  }
  74% {
    background-color: rgba(255,255,255,0);
  }
  75% {
    background-color: rgba(255,255,255,1);
  }
  76% {
    background-color: rgba(255,255,255,0);
  }
  99% {
    background-color: rgba(255,255,255,0);
  }
  100% {
    background-color: rgba(255,255,255,1);
  }
}

.imageBlank {
  z-index: 0;
  background-color: white;
  animation-name: blank;
}

@keyframes one {
  0% {
    visibility: visible;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
  }
  25% {
    visibility: visible;
    top: -10%;
    left: -10%;
    height: 110%;
    width: 110%;
  }
  25% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

.imageOne {
  z-index: -1;
  background-image: url('/images/contact_min.jpg');
  animation-name: one;
}

@keyframes two {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  25% {
    visibility: visible;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
  }
  50% {
    visibility: visible;
    top: -10%;
    left: -10%;
    height: 110%;
    width: 110%;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

.imageTwo {
  z-index: -2;
  background-image: url('/images/list_min.jpg');
  animation-name: two;
}

@keyframes three {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  50% {
    visibility: visible;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
  }
  75% {
    visibility: visible;
    top: -10%;
    left: -10%;
    height: 110%;
    width: 110%;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

.imageThree {
  z-index: -3;
  background-image: url('/images/history_min.jpg');
  animation-name: three;
}

@keyframes four {
  0% {
    visibility: hidden;
  }
  75% {
    visibility: hidden;
  }
  75% {
    visibility: visible;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
  }
  100% {
    visibility: visible;
    top: -10%;
    left: -10%;
    height: 110%;
    width: 110%;
  }
  100% {
    visibility: hidden;
  }
}

.imageFour {
  z-index: -4;
  background-image: url('/images/rite.jpg');
  animation-name: four;
}

.searchSection {
  background-color: rgb(105, 30, 32);
}

.searchSection a {
  text-decoration: none;
}

.searchInfo {
  padding: 10px 3%;
  background-color: rgb(105, 30, 32);
  font-size: 1.2rem;
}

.listTools {
  margin-top: 75px;
}

.searchBttns {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.all_grids {
  display: none;
}

.browseBttn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  color: rgb(105, 30, 32);
  text-align: center;
  border-radius: 30px;
  background-color: gold;
}

.orDivider {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.searchBox {
  padding: 5px 2% 10px 2%;
  background-color: rgb(105, 30, 32);
}

.searchTitle {
  padding-bottom: 1vh;
  color: gold;
}

.searchBox form {
  display: grid;
  grid-template-columns: 100%;
}

.searchBox form div input {
  padding: 1px 6px;
  font-size: 1.1rem;
  height: calc(100% - 6px);
  width: 90%;
}

.searchBox form button {
  margin-top: 10px;
  margin-left: 15%;
  border-radius: 5px;
  padding: 5px 0;
  font-size: 1rem;
  color: rgb(105,30,32);
  background-color: gold;
  width: 70%;
}

.searchTool {
  border: 1px solid gold;
  padding: 10px 0;
  text-align: center;
  background-color: rgb(105, 30, 32);
}

.searchTool input {
  margin-left: 4%;
  margin-bottom: 5px;
  padding: 2px 1%;
  font-size: 1.3rem;
  width: 90%;
}

.resultBox {
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 0 5%;
  background-image:
    linear-gradient(
    rgb(105, 30, 32,0.7),
    rgb(105, 30, 32,0.7));
  /* max-height: 350px; */
  /* overflow-y: scroll; */
}

.noResults {
  padding: 5px 0;
  font-style: italic;
}

.listTitles {
  text-align: center;
  display: none;
}

.resultList {

}

.resultRow {
  margin-bottom: 20px;
  border: 1px dashed gold;
  padding: 10px 5%;
  display: grid;
  grid-template-rows: auto auto;
}

.minWidth {
  text-align: right;
}

.maxWidth {
  display: none;
}

/* .resultRow:first-child {
  padding-top: 10px;
}

.resultRow:last-child {
  padding-bottom: 10px;
  border-bottom: none;
} */

.basicInfoSection {
  background-color: rgb(105, 30, 32);
  font-size: 1.2rem;
}

.basicInfoSection u {
  font-size: 1.5rem;
}

.basicInfoSection div p {
  line-height: 1.3;
}

.riteSection {
  color: white;
  background-color: rgb(105, 30, 32);
}

.riteSection div p {
  /* margin-top: 0; */
  font-size: 1.2rem;
}

/* .riteSubtitleParent {
  margin: 50px 0 30px 0;
} */

.riteSubtitleChild {
  display: block;
  border: 3px solid white;
  padding: 10px;
  font-style: italic;
  text-align: center;
  background-color: rgb(105, 30, 32,1);
}

.riteSubtitleContent {
  margin-bottom: 50px
}

.firstRiteP {
  margin-top: 40px;
}

.riteImage {
  margin-top: 1em;
  /* margin-left: 20px; */
  background-size:cover;
  background-position: center;
  height: 200px;
  width: 100%;
}

.riteImageOne {
  /* float: right; */
  background-image:url('https://www.dignitymemorial.com/dfsmedia/042808e1630c49a48950d5077d6556eb/25142-50068');
}

.riteImageTwo {
  margin-left: 0;
  margin-right: 20px;
  /* float: left; */
  background-image:url('https://c8.alamy.com/comp/BCBM3N/a-priest-waves-a-senser-over-the-casket-at-a-catholic-funeral-mass-BCBM3N.jpg');
}

.riteImageThree {
  /* float: right; */
  background-image:url('https://c8.alamy.com/comp/A5B16P/catholic-funeral-where-priest-is-blessing-the-coffin-before-it-is-A5B16P.jpg');
}

.historySection {
  background-color: rgb(105, 30, 32);
}

.emptyPlotsInfoSection {
  background-color: rgb(105, 30, 32);
}

.emptyPlotsInfoSection div p {
  margin-bottom: 50px;
}

.emptyPlotCount {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid white;
  padding: 10px 6%;
  font-size: 1.2rem;
  background-image: linear-gradient(rgb(105, 30, 32,1),rgb(105, 30, 32,1));
}

.emptyPlotsInfoSection div p {
  font-size: 1.2rem;
}

.contactSection {
  background-color: rgb(105, 30, 32);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.contactIntro {
  margin: 0 0 40px 0;
  border-bottom: 2px dashed gold;
  padding: 1em;
}

.contactGrid {
  margin-top: 1em;
}

.roleElement {
  margin-bottom: 20px;
  font-size: 1.5rem;
  text-align: center;
  width: 70%;
}

.roleTitle {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 2px solid white;
  font-size: 1.1rem;
  text-align: left;
}

.contactForm {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 2px dashed gold;
  background-color: rgb(105, 30, 32);
}

.contactInput {
  font-size: 1.1rem;
  width: 100%;
}

.contactTextarea {
  margin-top: 5px;
  width: 100%;
  height: 40vh;
}

.contactForm button {
  margin-top: 20px;
  border-radius: 20px;
  padding: 10px 5%;
  font-size: 1.2rem;
  color: rgb(105, 30, 32);
  background-color: gold;
}

.contactField {
  margin-bottom: 20px;
}

/* CEMETERY.LIST */

.listSection {
  height: 87%;
}

.listIntro {
  margin: 10px 0 30px 0;
}

nav {
  margin-top: -40px;
  margin-bottom: 40px;
}

.pagination {
  display: flex;
}

.pagination div {
  margin-right: 10px;
}

.pagination div a {
  color: white;
}

/* CEMETERY.INDIVIDUAL */
.indivMain {
  padding-bottom: 50px;
  background-image:
    linear-gradient(
      rgb(105, 30, 32,0.7),
      rgb(105, 30, 32,0.7)),
    url("/images/collage.jpg");
    /* Image from https://live.staticflickr.com/3488/3203117329_c09c237cb7_b.jpg */
  color: white;
  min-height: 90vh;
}

.backBttn {
  padding-bottom: 5vh;
  font-size: 1.2rem;
}

.backBttn a {
  text-decoration: none;
}

.fullName {
  margin: 0 10% 20px 10%;
  padding-top: 5vh;
  font-size: 3rem;
}

.fullName div:first-child {
  margin-bottom: 20px;
  font-size: 2rem;
}

.photoBox {
  padding: 0 5vw;
}

.photoProfile {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;
  height: 45vh;
}

.photoMenu {
  display: flex;
  justify-content: flex-start;
}

.photoMenu div {
  margin-right: 10px;
  border: 1px solid black;
  background-position: center;
  background-size: cover;
  width: 40px;
  height: 40px;
}

.basicInfoBox {
  margin: 15px 0 0 5%;
  padding: 10px 3%;
  color: black;
  font-size: 1.2rem;
  background-image: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.8));
  width: 84%;
}

.basicElement {

}

.basicElement:first-child {

}

.basicElement div:last-child {
  margin-left: 10%;
  font-size: 1.5rem;
  width: 90%;
}
